<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h1> Catalog App </h1>
<h3> {{ item.category}}</h3>  
    {{item.description}}</br></br>

<a href='{{url_for('editItem', id=item.id ) }}'>Edit</a> |
<a href='{{url_for('deleteItem', id=item.id ) }}'>Delete</a>

</body>
</html>
