{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
        <div class="row top-menu">
                <div class="col-md-10"></div>
                <div class="col-md-2 text-right">
                                        </div>
        </div>
        <div class="row divider blue">
                <div class="col-md-12"></div>
        </div>
        <div class="row banner main">
                <div class="col-md-1"></div>
                <div class="col-md-11 padding-none">
                        <h1>Catalog App</h1>
                </div>
        </div>

<div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<table>
  <tr>
    <th>Category</th>
    <th>Latest Items</th>
  </tr>
  <tr>
      <td>
        {% for categories in catalog %}
            {{categories.name}}</br></br>
        {% endfor %}
      </td>
      <td>
        {% for item in items %}
          {{item.title +'('+item.category+')'}}</br></br>
        {% endfor %}
      </td>
  </tr>
</table>

</body>
</html>

{% endblock %}
